@model UploadViewModel
@{
    ViewData["Title"] = "Index";
}

<header>
    <nav id="main-navbar">
        <ul>
            <li>
                <a href="#">File</a>
            </li>
            <li>
                <a href="#">Edit</a>
            </li>
            <li>
                <a href="#">View</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </nav>
</header>

<div id="dropzone" class="dropzonecl"></div>

<div id="upload-panel">
    <button class="panel button">
        New Project
    </button>
    <button class="panel button">
        Open Project
    </button>
    <button class="panel button">
        Example Project
    </button>
    <div class="panel bottom">
        <center>
            <img class="folderimg" src="img/folder.png"></img>

            <p style="text-align:center; width:55%;">
                Drag and drop your request bundles to start conversion
            </p>

            <h3><span>OR</span></h3>

            <div style="cursor: pointer;" class="browsefiles" id="addfiles">
                Browse Files
            </div>

            <form asp-action="Create" enctype="multipart/form-data" style='display: none;'>
                <input asp-for="RequestBundle" id="fileupload" onchange="this.form.submit()" class="hidden">
            </form>

        </center>
    </div>
</div>

<header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/upload.css" />
    <link rel="stylesheet" href="~/lib/dropzone/min/dropzone.min.css" />
</header>

@section Scripts{
    <script type="text/javascript">
        $('#addfiles').on('click', function () { $('#fileupload').click(); return false; });

        let myDropzone = new Dropzone("#dropzone", {
            init: function () {
                this.on("complete", file => {
                    location.href = "/Request"
                });
            },
            url: "/Upload/UploadFile",
            paramName: "file",
            maxFiles: 1,
        });

        var dropZone = document.getElementById('dropzone');
        function showDropZone() {
            dropZone.style.display = "block";
        }
        function hideDropZone() {
            dropZone.style.display = "none";
        }
        function allowDrag(e) {
            if (true) {
                e.dataTransfer.dropEffect = 'copy';
                e.preventDefault();
            }
        }
        function handleDrop(e) {
            e.preventDefault();
            hideDropZone();
        }
        window.addEventListener('dragenter', function (e) {
            showDropZone();
        });
        dropZone.addEventListener('dragenter', allowDrag);
        dropZone.addEventListener('dragover', allowDrag);
        dropZone.addEventListener('dragleave', function (e) {
            console.log('dragleave');
            hideDropZone();
        });
        dropZone.addEventListener('drop', handleDrop);

    </script>
}