<div *ngFor="let prop of childProperties.slice(0, numberOfSettings)">
  <div *ngIf="prop.type === 'string'" class="sidebarcontent">
    <p class="sidebartext" style="width: 40%;">{{ addSpaceBetweenCapital(prop.name) }}</p>
    <input class="sidebarinput" style="color:black" type="text" (keyup)="refreshCode()" [(ngModel)]="childClass[prop.name]">
  </div>

  <div *ngIf="prop.type === 'boolean'" class="sidebarcontent">
    <p class="sidebartext">{{ addSpaceBetweenCapital(prop.name) }}</p>
    <input type="checkbox" [checked]="prop.value" (click)="childClass[prop.name] = !childClass[prop.name]; refreshCode()" class="sidebariconleft sidebarcheckbox">
  </div>
</div>
