<header>
  <nav id="main-navbar">
    <ul>
      <li>
        <a (click)="goHome()" href="">File</a>
      </li>
      <li>
        <a (click)="goHome()" href="">Edit</a>
      </li>
      <li>
        <a style="cursor:pointer" (click)="this.settings.LaunchPreferences = !this.settings.LaunchPreferences;">Preferences</a>
      </li>
      <li>
        <a (click)="goHome()" href="">View</a>
      </li>
      <li>
        <a (click)="goHome()" href="">About</a>
      </li>
    </ul>
  </nav>
</header>
