<div id="preferences-container" class="preferencescontainer">
  <div class="sidebartitle">
    <p class="sidebartext" style="float: left;">{{ codeService!.currentHttpFormatter!.language!.toUpperCase().split('_')[0] + " " + codeService!.currentHttpFormatter!._name!.toUpperCase() }} PREFERENCES</p>
    <i class="preferencescloseicon fa-sharp fa-solid fa-circle-xmark fa-xl" (click)="closeModal()"></i>
  </div>
  <hr />
  <codesettings [childClass]="codeService.currentFormattingExtension" [parentClass]="codeService"></codesettings>
  <div class="sidebartitle">
    <p class="sidebartext" style="float: left;">REQUEST PREFERENCES</p>
  </div>
  <hr />
  <codesettings [childClass]="codeService.currentHttpFormatter" [parentClass]="codeService"></codesettings>
</div>
