
.preferencescontainer {
  background-color: #363636;
  position: absolute;
  z-index: 1000;
  padding: 30px;
  width: 650px;
  height: 300px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  overflow-y: auto;
}

.preferencescloseicon {
  color: white;
  float: right;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}
