<preferencesmodal *ngIf="this.settings.ShowPreferences"></preferencesmodal>

<div id="outer-container">
  <div id="sidebar" class="sidebar">

    <div class="sidebarsection">
      <div class="sidebartitle">
        <p class="sidebartext" style="float: right;">SAVE & SHARE</p>
        <i class="sidebaricon fa-solid fa-circle-question" style=""></i>
      </div>
      <hr />
      <div class="sidebarcontent" href="" (click)="resetRequests()">
        <i class="sidebariconleft fa-solid fa-file fa-xl"></i>
        <p class="sidebartext" style="float: right;">New Bundle (CTRL + B)</p>
      </div>
      <div class="sidebarcontent" (click)="rcApi.HasLoadedState ? null : rcApi.SaveState()">
        <i class="sidebariconleft fa-solid fa-floppy-disk fa-xl"></i>
        <p class="sidebartext" style="float: right;">Save Bundle (CTRL + S)</p>
      </div>
    </div>

    <div class="sidebarsection">
      <div class="sidebartitle">
        <p class="sidebartext" style="float: right;">LANGUAGE</p>
        <i class="sidebaricon fa-solid fa-circle-question" style=""></i>
      </div>
      <hr />
      <div class="sidebarcontent" (click)="this.settings.ShowJsonViewer = true">
        <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
        <p class="sidebartext" style="float: right;">JSON - Raw</p>
      </div>

      <div class="sidebarcontent" *ngFor="let formatter of this.codeService.httpFormatters" (click)="this.settings.ShowJsonViewer = false; changeLanguage(formatter._name)">
        <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
        <p class="sidebartext" style="float: right;">{{formatter.language.split('_')[0] + " - " + formatter._name}}</p>
      </div>
    </div>

    <div class="sidebarsection">
      <div class="sidebartitle">
        <p class="sidebartext" style="float: right;">MAIN SETTINGS</p>
        <i class="sidebaricon fa-solid fa-circle-question" style=""></i>
      </div>
      <hr />
      <div class="sidebarcontent">
        <p class="sidebartext">Show all requests</p>
        <input type="checkbox" (click)="this.codeService.ShowAllRequests = !this.codeService.ShowAllRequests; refreshCode()" [checked]="this.codeService.ShowAllRequests" class="sidebariconleft sidebarcheckbox">
      </div>
      <div class="sidebarcontent" *ngIf="!this.codeService.ShowAllRequests">
        <select [(ngModel)]="currentRequest" (change)="onSelected()" class="sidebarselect" id="request-select">
          <option [ngValue]="r" *ngFor="let r of rcSettings.RequestArray">{{r.Url}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <ngx-json-viewer *ngIf="this.settings.ShowJsonViewer" [expanded]="true" [depth]="1" [json]="this.settings.SimplifiedRequestArray"></ngx-json-viewer>
  <ngx-codemirror *ngIf="!this.settings.ShowJsonViewer" [ngModel]="rcSettings.CurrentTranslatedRequest" id="codemirror" [options]="codeMirrorOptions"></ngx-codemirror>
</div>
