<div id="outer-container">
  <div id="sidebar" class="sidebar">

    <div class="sidebarsection">
      <div class="sidebartitle">
        <p class="sidebartext" style="float: right;">SAVE & SHARE</p>
        <i class="sidebaricon fa-solid fa-circle-question" style=""></i>
      </div>
      <hr />
      <div class="sidebarcontent" (click)="rcApi.HasLoadedState ? null : rcApi.SaveState()">
        <i class="sidebariconleft fa-solid fa-floppy-disk fa-xl"></i>
        <p class="sidebartext" style="float: right;">Save (CTRL + S)</p>
      </div>
    </div>

    <div class="sidebarsection">
      <div class="sidebartitle">
        <p class="sidebartext" style="float: right;">LANGUAGE</p>
        <i class="sidebaricon fa-solid fa-circle-question" style=""></i>
      </div>
      <hr />
      <div class="sidebarcontent" (click)="changeLanguage('requests')">
        <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
        <p class="sidebartext" style="float: right;">Python - Requests</p>
      </div>
      <div class="sidebarcontent" (click)="changeLanguage('httpwebrequest')">
        <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
        <p class="sidebartext" style="float: right;">C# - HttpWebRequest</p>
      </div>
    </div>

    <codesettings [childClass]="codeService.CurrentFormatter" [parentClass]="codeService"></codesettings>
  </div>
</div>
  
<div id="content">
    <ngx-codemirror [ngModel]="rcApi.CurrentTranslatedRequest" id="codemirror"  [options]="codeMirrorOptions"></ngx-codemirror>
</div>
